a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
  font-family: "Roboto Mono", monospace;
}

img {
  max-width: 100%;
  /* height: auto; */
}

p {
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 0px;
}
