.foto-perfil {
  filter: drop-shadow(7px 4px 15px var(--second-color));
  mask-image: linear-gradient(black 80%, transparent);
  border-radius: 1.5rem;
}

.bg-gray-light {
  background-color: var(--gray-light-color);
}

.box-shadow {
  box-shadow: 0.25rem 0.25rem 1rem var(--box-shadow);
}
.box-shadow-1 {
  box-shadow: 0.2rem 0.2rem 0.25rem var(--box-shadow);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 100px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--second-color);
  background-color: var(--third-color);
  border-color: var(--first-color);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.componente {
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  width: 350px;
  border: solid var(--first-color);
  border-radius: 0.5rem;
  background-color: var(--third-color);
}

.gray-scale {
  filter: grayscale(1);
}

.line {
  border-top: thin solid var(--second-color);
}

.input-group {
  position: relative;
}

.input {
  border: solid 1.5px #9e9e9e;
  border-radius: 0.5rem;
  border: thin solid var(--first-color);
  background-color: var(--third-color);
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
}

.input:focus{
  outline: none;
  border: 2.5px solid var(--first-color);
}

.none {
  display: none;
}

.section {
  padding: 2rem 1rem;
}
.section p {
  margin: 0;
  padding: 0.5rem 0.5rem;
}

.section-title {
  background-color: var(--second-alpha-color);
  border-radius: 0.5rem;
  border-top: thin solid var(--second-color);
  border-bottom: thin solid var(--second-color);
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  width: 350px;
  text-align: center;
  color: var(--text-color);
}

.section-subtitle {
  border-top: thin solid var(--second-color);
  border-bottom: thin solid var(--second-color);
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  width: 350px;
  text-align: center;
  color: var(--text-color);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
